</div>
<div class="footer-padding"></div>

<div class="footer">
  <div class="footer-icons">
    <ul>
      <li><a href="https://twitter.com/itsbhaveshkumar?t=kZa5NBSiATwFhIQVrpQOEw&s=09"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/in/bhavesh-kumar-4a3b48209"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100010414563076"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/invites/contact/?i=l5i7425sqi1h&utm_content=c6rfekx"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="https://github.com/Bhavesh38"><i class="fa-brands fa-github"></i></a></li>
    </ul>
  </div>
  <p>© Made by <a href="https://bhavesh38.github.io/Bhavesh-s-Portfolio/">Bhavesh kumar</a>. All copyright reserved.</p>
</div>
</div>
</body>

</html>